<div>
    <h2 data-translate="financeApp.transaction.home.title">Transactions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="transaction.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="financeApp.transaction.home.createLabel">
                        Create new Transaction
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'financeApp.transaction.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>

    <div class="form-group">
        <label data-translate="financeApp.transaction.accountList" for="field_withdrawAccount">Account List</label>
        <select class="form-control" id="field_withdrawAccount" name="withdrawAccount" 
            ng-model="vm.useraccount.id" 
            ng-options="userAccount.id as userAccount.text for userAccount in vm.useraccounts"
            required>
        </select>
    </div>


    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span data-translate="financeApp.transaction.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th jh-sort-by="description"><span data-translate="financeApp.transaction.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="userLogin"><span data-translate="financeApp.transaction.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="withdrawAccountText"><span data-translate="financeApp.transaction.withdrawAccount">Withdraw Account</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="depositAccountText"><span data-translate="financeApp.transaction.depositAccount">Deposit Account</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="amount"><span data-translate="financeApp.transaction.amount">Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="transaction in vm.transactions track by transaction.id">
                    <td><a ui-sref="transaction-detail({id:transaction.id})">{{transaction.id}}</a></td>
                    <td>{{transaction.date | date:'medium'}}</td>
                    <td>{{transaction.description}}</td>
                    <!--<td>-->
                        <!--{{transaction.userLogin}}-->
                    <!--</td>-->
                    <td>
                        <a ui-sref="user-account-detail({id:transaction.withdrawAccountId})">{{transaction.withdrawAccountText}}</a>
                    </td>
                    <td>
                        <a ui-sref="user-account-detail({id:transaction.depositAccountId})">{{transaction.depositAccountText}}</a>
                    </td>
                    <td>{{transaction.amount}}</td>

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <!--<button type="submit"-->
                                    <!--ui-sref="transaction-detail({id:transaction.id})"-->
                                    <!--class="btn btn-info btn-sm">-->
                                <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.view"></span>-->
                            <!--</button>-->
                            <button type="submit"
                                    ui-sref="transaction.edit({id:transaction.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="transaction.delete({id:transaction.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
