
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserSettingsLabel" data-translate="financeApp.userSettings.home.createOrEditLabel">Create or edit a User Settings</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userSettings.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userSettings.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="financeApp.userSettings.usdRate" for="field_usdRate">Usd Rate</label>
            <input type="number" class="form-control" name="usdRate" id="field_usdRate"
                    ng-model="vm.userSettings.usdRate"
                    required/>
            <div ng-show="editForm.usdRate.$invalid">
                <p class="help-block"
                    ng-show="editForm.usdRate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.usdRate.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="financeApp.userSettings.sarRate" for="field_sarRate">Sar Rate</label>
            <input type="number" class="form-control" name="sarRate" id="field_sarRate"
                    ng-model="vm.userSettings.sarRate"
                    required/>
            <div ng-show="editForm.sarRate.$invalid">
                <p class="help-block"
                    ng-show="editForm.sarRate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.sarRate.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="financeApp.userSettings.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.userSettings.userId" ng-options="user.id as user.login for user in vm.users"             required>
            </select>
        </div>
        <div ng-show="editForm.user.$invalid">
            <p class="help-block"
                ng-show="editForm.user.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
