
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserAccountLabel" data-translate="financeApp.userAccount.home.createOrEditLabel">Create or edit a User Account</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userAccount.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userAccount.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="financeApp.userAccount.text" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                    ng-model="vm.userAccount.text"
                    required ng-minlength="3" ng-maxlength="100"/>
            <div ng-show="editForm.text.$invalid">
                <p class="help-block"
                    ng-show="editForm.text.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.text.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.text.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="financeApp.userAccount.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.userAccount.description"
                    ng-maxlength="255"/>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="financeApp.userAccount.type" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="vm.userAccount.type" id="field_type" required>
                <option value="ASSET" data-translate="financeApp.AccountType.ASSET">ASSET</option>
                <option value="EXPENSE" data-translate="financeApp.AccountType.EXPENSE">EXPENSE</option>
                <option value="INCOME" data-translate="financeApp.AccountType.INCOME">INCOME</option>
                <option value="LIABILITY" data-translate="financeApp.AccountType.LIABILITY">LIABILITY</option>
                <option value="OTHER" data-translate="financeApp.AccountType.OTHER">OTHER</option>
            </select>
            <div ng-show="editForm.type.$invalid">
                <p class="help-block"
                    ng-show="editForm.type.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label data-translate="financeApp.userAccount.user" for="field_user">User</label>-->
            <!--<select class="form-control" id="field_user" name="user" ng-model="vm.userAccount.userId" ng-options="user.id as user.login for user in vm.users"             required>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div ng-show="editForm.user.$invalid">-->
            <!--<p class="help-block"-->
                <!--ng-show="editForm.user.$error.required" data-translate="entity.validation.required">-->
                <!--This field is required.-->
            <!--</p>-->
        <!--</div>-->
        <div class="form-group">
            <label data-translate="financeApp.userAccount.currency" for="field_currency">Currency</label>
            <select class="form-control" id="field_currency" name="currency" ng-model="vm.userAccount.currencyId" ng-options="currency.id as currency.name for currency in vm.currencies"             required>
            </select>
        </div>
        <div ng-show="editForm.currency.$invalid">
            <p class="help-block"
                ng-show="editForm.currency.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
